@model DiaryEntry

@{
    ViewData["Title"] = "Edit Entry";
}


<div class="container mt-5">

    <div class="row">

        <div class="col-8 offset-md-2">

            <div class="p-3 bg-black text-white fw-bold text-center text-uppercase fs-4 rounded">
                Edit Dairy Entry
            </div>
            <form class="mt-4 border border-1 rounded p-4" method="post" asp-action="EditEntry">

                @* <div asp-validation-summary="All" class="text-danger"></div> *@
                <input type="hidden" asp-for="DairyId" />

                <div class="form-group mb-3">
                    <label asp-for="Title" class="form-label">Title</label>
                    <input asp-for="Title" class="form-control" placeholder="Pizza, Bycicle, etc..">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Description" class="form-label">Description</label>
                    <input asp-for="Description" class="form-control" placeholder="Add your activity...">
                    <span asp-validation-for="Description" class="text-danger"></span>

                </div>

                <div class="form-group mb-3">
                    <label asp-for="CreatedAt" class="form-label">Date</label>
                    <input asp-for="CreatedAt" class="form-control" type="date">
                    <span asp-validation-for="CreatedAt" class="text-danger"></span>

                </div>

                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary">Edit</button>
                    <a asp-action="Index" class="btn btn-danger">Cancel</a>
                </div>

            </form>
        </div>

    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
}


